form {
    width: 500px;
}

.register-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
}

.register-form label input {
    margin-top: 5px;
    height: 20px;
    border-radius: 5px;
}

input[type=submit] {
    border-radius: 10px;
}